/* Optimized by http://flumpcakes.co.uk/css/optimiser/ */
html {margin:0;padding:0}
body {margin:0;padding:0;background:#FFF url(/images/global/body_background_pattern.gif) repeat fixed}
* {color:#000;font:12px Arial,Helvetica}
.disabled_by_opacity {opacity:0.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30)}
ol {padding:0;margin:5px 0 5px 20px;_margin:5px 0 5px 30px}
ul {padding:0 0 0 20px;margin:0}
li {margin:0;padding:0}
table {margin:0;padding:0}
td {vertical-align:top;margin:0;padding:0}
div,p,h1,h2,h3 {margin:0;padding:0}
span {color:inherit;font-size:inherit;font-weight:inherit}
img {border:0}
a {text-decoration:underline;font-size:inherit;font-weight:inherit;color:inherit}
a:hover {text-decoration:none}
h1 {color:#1A2481;font-size:24px;text-decoration:underline}
h1.business_title {color:#145398;font-size:18px;text-decoration:underline}
h2,.sub_title {font-weight:bold}
.bottom_border {border-bottom:1px solid #CCC;padding-bottom:5px;margin-bottom:5px;font-size:0}
.top_border {border-top:1px solid #CCC;padding-top:5px;margin-top:5px;font-size:0}
.vertical_align_middle {vertical-align:middle}
.vertical_align_middle td {vertical-align:middle}
.vertical_align_top {vertical-align:top}
.vertical_align_top td {vertical-align:top}
.white {color:#FFF}
.red {color:#F00}
.transparent {_behavior:url(/repository/include/javascript/iepngfix/iepngfix.htc)}
div.powered_by {padding:20px 0;text-align:center}
img.powered_by {width:94px;height:30px;_behavior:url(/repository/include/javascript/iepngfix/iepngfix.htc)}
div.powered_and_created_by {padding:20px 0;text-align:center}
img.powered_and_created_by {width:320px;height:40px;_behavior:url(/repository/include/javascript/iepngfix/iepngfix.htc)}
form {margin:0;padding:0}
form td {vertical-align:middle}
.ltr {direction:ltr}
.rtl {direction:rtl}
input,textarea,select {width:150px;height:21px;margin-bottom:10px;_margin-top:1px;color:#000;border:1px solid #7F9DB9}
select.day {width:39px}
select.month {width:48px}
select.year {width:53px}
input.short,select.short {width:40px}
input.medium,select.medium {width:105px}
input.long,select.long {width:310px}
input.full,select.full {width:470px}
textarea.long {width:310px;height:100px}
textarea.full {width:470px;height:100px}
option {color:#000}
.checkbox,.radio {width:auto !important;height:auto !important;background:none !important;border:none !important;padding:0 !important;margin:2px 0 0 0 !important}
input.button {width:auto !important;height:auto !important;border:none !important;font-weight:bold;text-align:center !important;margin-bottom:0 !important;cursor:pointer;color:#000;background:#777}
.submit {width:auto !important;height:auto !important;border:none !important;font-weight:bold;text-align:center !important;cursor:pointer;margin-bottom:0 !important;color:#FFF;background:#4D53A7}
.error {font-weight:bold;color:#900 !important}
input.error,select.error,textarea.error {font-weight:normal;color:#000;border:1px solid #930;background:#FFA6A8}
.mandatory {font-weight:bold}
.short_field {width:50px}
.long_field {width:200px}
.disabled {color:#6F7E9A}
.notes {color:#000;border:1px solid #FC0;background:#FFC;padding:10px;margin-bottom:10px;direction:ltr}
.notes.blue {border:1px solid #2E5B96;background:#172749}
.notes div {color:#000 !important;text-align:left;direction:ltr}
.notes a {color:#000 !important}
.notes.blue div {color:#FFF !important}
.notes.blue a {color:#FFF !important}
.notes td {vertical-align:middle}
.notes .n_title {font-weight:bold;font-size:14px;padding-bottom:5px}
.notes .continue {font-weight:bold;font-size:14px}
.notes .continue a {font-weight:bold;font-size:14px}
.notes.blue .continue a {color:#FFF !important}
.errors {border:1px solid #930;background:#FFA6A8;padding:10px;margin-bottom:10px;direction:ltr}
.errors * {color:#000 !important}
.errors .e_title {font-weight:bold;font-size:14px;padding-bottom:5px}
.errors .continue {font-weight:bold;font-size:14px}
.errors .continue a {font-weight:bold;font-size:14px}
.errors.blue .continue a {color:#FFF !important}
td.separator {width:0.1%}
tr.separator {height:0.1%}
.separator div {width:10px;height:10px;font-size:4px}
div.separator {width:10px;height:10px;font-size:4px}
.navigation.add_to_bag input {background:none;border:none;cursor:pointer;font-weight:bold}
.navigation a {text-decoration:underline}
.navigation a:hover {text-decoration:underline}
.page_number {line-height:25px}
#page-nav-bar {color:#999}
#page-nav-bar a {text-decoration:none;color:#444}
#page-nav-bar a:hover {text-decoration:underline}
#page-nav-bar a.number {text-decoration:none;color:#444}
#page-nav-bar a.number:hover {text-decoration:underline}
#page-nav-bar span.number {font-weight:bold;color:#000}
.results_numbers {line-height:25px}
td.button {height:20px;vertical-align:middle;background:#8B95A3;text-align:center}
td.button a {text-decoration:none;text-align:center;display:block;color:#F8E8BA;cursor:pointer}
td.button a:hover {text-decoration:none}
td.button a.disabled {color:#6F7E9A;cursor:default}
td.back.button {padding:0 10px}
.description {line-height:150%}
.description br {line-height:90%}
.paragraph {margin:0 0 10px}
.paragraph .p_title {font-weight:bold}
.paragraph .content {font-weight:normal;line-height:18px;text-align:justify}
.paragraph img.float_left {float:left;margin:5px 10px 5px 0;max-width:465px;border:1px solid #777}
.paragraph img.float_right {float:right;margin:5px 0 5px 10px;max-width:465px;border:1px solid #777}
.paragraph a {text-decoration:underline}
.paragraph a:hover {text-decoration:none}
.paragraph input.field {width:240px;margin:5px 0 10px}
.paragraph textarea {width:240px;height:160px;margin:5px 0 10px}
#captcha {margin-bottom:10px}
#captcha .c_title {font-weight:bold;line-height:23px;_line-height:22px}
#captcha img {border:1px solid #777;margin-left:5px}
#captcha input {margin:0}
.frame {width:955px}
.frame #header {height:105px}
.frame #header .left_cell {width:10px;background:url(/images/global/frame_left_background.png) repeat-y right 0}
.frame #header .middle_cell {width:935px;background:url(/images/global/header_background_pattern.png) repeat-x}
.frame #header .middle_cell table {direction:ltr}
.frame #header .right_cell {width:10px;background:url(/images/global/frame_right_background.png) repeat-y left 0}
.frame #menubar {height:22px}
.frame #menubar .left_cell {width:10px;background:url(/images/global/frame_left_background.png) repeat-y right 0}
.frame #menubar .middle_cell {width:935px;background:#A1A6DE}
.frame #menubar .right_cell {width:10px;background:url(/images/global/frame_right_background.png) repeat-y left 0}
.frame #menubar .menubar_container {padding:0 20px}
.frame #middle .left_cell {width:10px;background:url(/images/global/frame_left_background.png) repeat-y right 0}
.frame #middle .middle_cell {width:935px;direction:ltr;background:#FFF}
.frame #middle .right_cell {width:10px;background:url(/images/global/frame_right_background.png) repeat-y left 0}
.frame #middle td.sidebar {width:142px}
.frame #middle #sidebar {width:142px}
.frame #middle #sidebar .sidebar_container {padding-right:15px}
.frame #middle td.suppliers_sidebar {width:138px}
.frame #middle #suppliers_sidebar {width:138px}
.frame #middle #suppliers_sidebar .suppliers_sidebar_container {padding-right:15px}
.frame #middle .page_container {width:615px}
.frame #footer_links {height:155px;direction:ltr}
.frame #footer_links .left_cell {width:10px;background:url(/images/global/frame_left_background.png) repeat-y right 0}
.frame #footer_links .middle_cell {width:935px;background:url(/images/global/bottom_links_background_pattern.png) repeat-x}
.frame #footer_links .right_cell {width:10px;background:url(/images/global/frame_right_background.png) repeat-y left 0}
.frame #footer {height:22px}
.frame #footer .left_cell {width:10px;background:url(/images/global/frame_left_background.png) repeat-y right 0}
.frame #footer .middle_cell {width:935px;background:#A1A6DE}
.frame #footer .right_cell {width:10px;background:url(/images/global/frame_right_background.png) repeat-y left 0}
.top_menubar {width:100%;direction:ltr;text-align:left}
.top_menubar .container {padding:10px}
.top_menubar div {color:#005FB2}
.top_menubar a {color:#005FB2;text-decoration:underline}
.top_menubar a:hover {text-decoration:none}
.top_menubar .link_to_my-account {position:relative;top:30px;left:7px;cursor:pointer}
.top_menubar .link_to_my-account a {font-weight:bold;cursor:pointer}
#menubar {direction:ltr}
#menubar .categories {width:100%}
#menubar .categories td {height:22px;padding-left:1px;background:url(/images/global/menubar_separator.png) no-repeat left 0}
#menubar .categories a {display:block;height:22px;padding:0 15px;color:#FFF;font-weight:bold;text-align:center;text-decoration:underline;line-height:21px}
#menubar .categories a:hover {color:#161B62;text-decoration:none;background:#FFF url(/images/global/ltr_menubar_btn_down.png) no-repeat left 8px}
#menubar .categories a.selected {color:#161B62;text-decoration:none;background:#FFF url(/images/global/ltr_menubar_btn_down.png) no-repeat left 8px}
#menubar .categories .hover_menu {position:relative;text-align:left}
#menubar .categories .hover_menu .container {width:180px;position:absolute;top:-3px;left:5px;background:#6F7E9A url(/images/global/menubar_btn_up.jpg) no-repeat right 0}
#menubar .categories .hover_menu .container a {display:block;padding:5px;text-decoration:none;text-align:left;height:auto;background:none}
#menubar .categories .hover_menu .container a:hover {text-decoration:underline}
#menubar .categories .hover_menu .container a.selected {text-decoration:underline}
#sidebar {text-align:left}
#sidebar .categories {border-top:2px solid #DFE1F4;border-bottom:1px solid #DFE1F4}
#sidebar .categories a {display:block;padding-left:15px;color:#161B62;text-decoration:none;text-align:left;line-height:35px;background:url(/images/global/ltr_sidebar_btn_up.png) no-repeat left 0}
#sidebar .categories a.hover {background:url(/images/global/ltr_sidebar_btn_hover.png)}
#sidebar .categories a.selected {font-weight:bold;background:url(/images/global/ltr_sidebar_btn_selected.png)}
